$initial-delay: 2s;

.landing-wireframes {
  position: absolute;
  top: 0;
  left: 50%;
  overflow: visible;
  pointer-events: none;
}

.landing-wireframe {
  position: absolute;

  svg g {
    path,
    line,
    circle,
    use {
      stroke-linecap: butt;
    }
  }
}

.landing-logo-wireframe-alert {
  top:  rem(186px);
  right:  rem(280px);
}

.landing-logo-wireframe-buttons {
  top:  rem(32px);
  right:  rem(252px);
}

.landing-logo-wireframe-calendar {
  top:  rem(389px);
  right:  rem(238px);
}

.landing-logo-wireframe-checkboxes {
  top:  rem(434px);
  left:  rem(300px);
}

.landing-logo-wireframe-file-upload {
  top:  rem(620px);
  left:  rem(3px);
}

.landing-logo-wireframe-input-groups {
  top:  rem(34px);
  left: - rem(197px);
}

.landing-logo-wireframe-inputs {
  top:  rem(34px);
  left:  rem(130px);
}

.landing-logo-wireframe-labels {
  top:  rem(150px);
  left:  rem(500px);
}

.landing-logo-wireframe-radios {
  top:  rem(284px);
  left:  rem(300px);
}

.landing-logo-wireframe-select-menus {
  top:  rem(30px);
  left:  rem(500px);
}

.landing-logo-wireframe-sliders {
  top:  rem(300px);
  left:  rem(500px);
}

.landing-logo-wireframe-switches {
  top:  rem(354px);
  left:  rem(300px);
}

.landing-logo-wireframe-time-selections {
  top:  rem(450px);
  left:  rem(500px);
}

.landing-logo-wireframe-toggles {
  top:  rem(250px);
  left: - rem(201px);
}
